 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('images/07272a14739c619c06aad7562a1e0cd7f9d4f019243d0f9624d526a39b061833f6f3cb33286e9cfabcf7fd047f1039fc07fa09916191ed4c09b7be_1280.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1127px;
}

.u-section-1 .u-image-1 {
  width: 703px;
  height: 703px;
  animation-timing-function: ease;
  margin: 315px auto 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: -176px auto 60px;
  padding: 15px 44px 16px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 929px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 712px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 371px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -13px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 967px;
  }

  .u-section-1 .u-image-1 {
    height: 340px;
    width: 340px;
    margin-top: 348px;
    margin-right: -20px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -23px;
    margin-right: 52px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 784px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto auto;
  margin-top: 22px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, 25%);
  min-height: 566px;
  grid-auto-columns: 25%;
  grid-gap: 0px;
}

.u-section-2 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-2 .u-image-1 {
  height: 281px;
  margin-top: 99px;
  margin-bottom: 0;
}

.u-section-2 .u-group-1 {
  min-height: 110px;
  height: auto;
  background-image: linear-gradient(#333333, #672d99);
  margin-top: -1px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-2 .u-btn-1 {
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 600;
  margin: 18px 47px -23px auto;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 30px 30px;
}

.u-section-2 .u-image-2 {
  height: 281px;
  margin-top: 99px;
  margin-bottom: 0;
}

.u-section-2 .u-group-2 {
  min-height: 110px;
  height: auto;
  background-image: linear-gradient(#333333, #672d99);
  margin-top: -1px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-2 .u-btn-2 {
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 600;
  margin: 18px 47px -23px auto;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 30px 30px;
}

.u-section-2 .u-image-3 {
  height: 281px;
  margin-top: 99px;
  margin-bottom: 0;
}

.u-section-2 .u-group-3 {
  min-height: 94px;
  height: auto;
  background-image: linear-gradient(#333333, #672d99);
  margin-top: -1px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-6 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-2 .u-btn-3 {
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 600;
  margin: 18px 47px -23px auto;
}

.u-section-2 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-7 {
  padding: 0 30px 30px;
}

.u-section-2 .u-image-4 {
  height: 281px;
  margin-top: 99px;
  margin-bottom: 0;
}

.u-section-2 .u-group-4 {
  min-height: 94px;
  height: auto;
  background-image: linear-gradient(#333333, #672d99);
  margin-top: -1px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-8 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-2 .u-btn-4 {
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 600;
  margin: 18px 47px -23px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 692px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 23px;
    margin-bottom: 17px;
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.3333%);
    min-height: 540px;
  }

  .u-section-2 .u-image-1 {
    height: 219px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 1px;
    height: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 22px;
    margin-right: auto;
  }

  .u-section-2 .u-image-2 {
    height: 219px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 1px;
    height: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: 18px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 22px;
    margin-right: auto;
  }

  .u-section-2 .u-image-3 {
    height: 219px;
  }

  .u-section-2 .u-group-3 {
    margin-top: 1px;
    height: auto;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 22px;
    margin-right: auto;
  }

  .u-section-2 .u-image-4 {
    height: 219px;
  }

  .u-section-2 .u-group-4 {
    margin-top: 1px;
    height: auto;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 22px;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1098px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    min-height: 965px;
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-2 .u-image-1 {
    height: 375px;
    margin-top: 39px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    font-size: 1.875rem;
  }

  .u-section-2 .u-btn-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-2 .u-image-2 {
    height: 375px;
    margin-top: 39px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    font-size: 1.875rem;
  }

  .u-section-2 .u-btn-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 30px;
  }

  .u-section-2 .u-image-3 {
    height: 375px;
    margin-top: 39px;
  }

  .u-section-2 .u-group-3 {
    margin-top: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    font-size: 1.875rem;
  }

  .u-section-2 .u-btn-3 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-container-layout-7 {
    padding-top: 30px;
  }

  .u-section-2 .u-image-4 {
    height: 375px;
    margin-top: 39px;
  }

  .u-section-2 .u-group-4 {
    margin-top: 0;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    font-size: 1.875rem;
  }

  .u-section-2 .u-btn-4 {
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1641px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 22px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 207px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 207px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 207px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    height: 207px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1398px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1160px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-1 {
    height: 127px;
    margin-top: 16px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-2 {
    height: 127px;
    margin-top: 16px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-3 {
    height: 127px;
    margin-top: 16px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-4 {
    height: 127px;
    margin-top: 16px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 10px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 710px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-3 .u-image-1 {
  min-height: 590px;
  background-image: url("images/095f35f8ed5db6e5f9d36ee6ab55cdc680f845e151353a039e9c0d7914b0a7d34885b32545210ed5e250d8e3d404be6a696f0b19e8e3085c901784_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-image-2 {
  min-height: 590px;
  background-image: url("images/ract-technology-futuristic-glowing-blue-and-purple-light-lines-with-speed-motion-effect-on-dark-blue-background-free-vector.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  margin: 59px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  border-style: solid;
  margin: 50px 209px 0 0;
  padding: 10px 34px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-3 .u-image-1 {
    min-height: 486px;
  }

  .u-section-3 .u-image-2 {
    min-height: 514px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 35px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-3 .u-image-1 {
    min-height: 372px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-3 .u-image-1 {
    min-height: 558px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 8px 10px;
  }

  .u-section-3 .u-text-1 {
    width: 234px;
    margin-top: 74px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 33px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 53px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-3 .u-image-1 {
    min-height: 351px;
  }

  .u-section-3 .u-image-2 {
    min-height: 450px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 29px;
    margin-right: 31px;
    margin-left: 55px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 28px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 31px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1107px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 49px auto 0;
}

.u-section-4 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 19px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 1px 0 60px;
}

.u-section-4 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url('images/8b68dc50076cc126bbdbc529d3b1e5ad7fbd6aa364e2280f971db596a13e6df4f8e6d496d59457b9afce36b2a3176bc2cc1550380f1a472429424e_1280.jpg');
  background-position: 50% 50%;
  min-height: 278px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  background-image: url("images/1d95691bde7b7d331258728a3d0ff0f7ba565265748c0b383ad3b411cc99b92e6228f826d65e32b2aa321068a9ffaab28b1295cd5c074a975c54d7_1280.jpg");
  background-position: 50% 50%;
  min-height: 278px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  background-image: url("images/f50ba455b02eef070c1f10b41c916e436d815611bec05ba5525e4d70068df06f669a0af6ebd74f419fa58235211f1908d25ae7842eff6699a102c1_1280.jpg");
  background-position: 50% 50%;
  min-height: 278px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-4 {
  background-image: url("images/b38d00da2be59ae5d3fa9e8aaa3b3b8fce56811d59fda60e3e354aca160487397eb7b02442e5786373e2ad0c188e8da8169238e1a70c70fb2913c4_1280.jpg");
  background-position: 50% 50%;
  min-height: 278px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-5 {
  min-height: 556px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url('images/30ea2f11bfc533070d549a907507620fbe0605fbee6ea271e3742fbc01f6cbb2712e4e477d9ea13dab63c71e7ca4d00142fb9e561e8d67dddbf5e8_1280.jpg');
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('images/d93234e27fb8c7503bc55f6cdafc74976c313a68418a71e4750a9709d4c4c3172de535d45a209656e6f158b78c468b6e5522d015ec1c64552e5dc8_1280.jpg');
  background-position: 50% 50%;
  min-height: 278px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px 35px 30px 30px;
}

.u-section-4 .u-image-7 {
  background-image: url("images/fa8c10fc3606bdd746db6f70869a4796be8dcd1e52b669197e04cea5399b4b7adf95959420bed93ebeb9585cde20193dfb60e219069175442d53fc_1280.jpg");
  background-position: 50% 50%;
  min-height: 278px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 882px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 48px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 48px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 229px;
  }

  .u-section-4 .u-image-2 {
    min-height: 229px;
  }

  .u-section-4 .u-image-3 {
    min-height: 229px;
  }

  .u-section-4 .u-image-4 {
    min-height: 229px;
  }

  .u-section-4 .u-image-5 {
    min-height: 458px;
  }

  .u-section-4 .u-image-6 {
    min-height: 229px;
  }

  .u-section-4 .u-image-7 {
    min-height: 229px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1858px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 50px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 302px;
  }

  .u-section-4 .u-image-2 {
    min-height: 302px;
  }

  .u-section-4 .u-image-3 {
    min-height: 457px;
  }

  .u-section-4 .u-image-4 {
    min-height: 457px;
  }

  .u-section-4 .u-image-5 {
    min-height: 593px;
  }

  .u-section-4 .u-image-6 {
    min-height: 271px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-7 {
    min-height: 271px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3065px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 28px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 41px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 454px;
  }

  .u-section-4 .u-image-2 {
    min-height: 454px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    min-height: 685px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    min-height: 685px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-5 {
    min-height: 445px;
  }

  .u-section-4 .u-image-6 {
    min-height: 305px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-4 .u-image-7 {
    min-height: 611px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1970px;
  }

  .u-section-4 .u-image-1 {
    min-height: 286px;
  }

  .u-section-4 .u-image-2 {
    min-height: 286px;
  }

  .u-section-4 .u-image-3 {
    min-height: 431px;
  }

  .u-section-4 .u-image-4 {
    min-height: 431px;
  }

  .u-section-4 .u-image-5 {
    min-height: 280px;
  }

  .u-section-4 .u-image-6 {
    min-height: 192px;
  }

  .u-section-4 .u-image-7 {
    min-height: 385px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 855px;
}

.u-section-5 .u-image-1 {
  width: 598px;
  height: 753px;
  margin: 16px -28px 0 auto;
}

.u-section-5 .u-layout-wrap-1 {
  width: 557px;
  margin: -677px auto 60px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 246px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin: 28px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  margin: 8px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 192px;
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-2 {
  padding: 10px;
}

.u-section-5 .u-icon-1 {
  height: 55px;
  width: 55px;
  margin: 0 auto;
  padding: 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  letter-spacing: 4px;
  font-weight: 700;
  font-family: Ubuntu, sans-serif;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.125rem;
  margin: 21px auto 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 192px;
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px;
}

.u-section-5 .u-icon-2 {
  height: 55px;
  width: 55px;
  margin: 0 auto;
  padding: 0;
}

.u-section-5 .u-text-5 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: Ubuntu, sans-serif;
  margin: 20px auto 0;
}

.u-section-5 .u-text-6 {
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 219px;
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-4 {
  padding: 10px;
}

.u-section-5 .u-icon-3 {
  height: 79px;
  width: 79px;
  margin: 0 auto;
  padding: 12px;
}

.u-section-5 .u-text-7 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: Ubuntu, sans-serif;
  margin: 20px auto 0;
}

.u-section-5 .u-text-8 {
  font-size: 1.125rem;
  margin: 20px auto 0 0;
}

.u-section-5 .u-layout-cell-5 {
  min-height: 219px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-5 {
  padding: 10px 10px 30px;
}

.u-section-5 .u-text-9 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: Ubuntu, sans-serif;
  margin: 49px auto 0;
}

.u-section-5 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 23px auto 0;
}

.u-section-5 .u-icon-4 {
  height: 100%;
}

.u-section-5 .u-icon-5 {
  height: 100%;
}

.u-section-5 .u-icon-6 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-5 .u-image-1 {
    width: 451px;
    height: 641px;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 470px;
    margin-top: -641px;
    margin-bottom: 29px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 240px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 187px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 187px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 214px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 214px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1429px;
  }

  .u-section-5 .u-image-1 {
    height: 635px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -4px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 258px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 206px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 206px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 233px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 233px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1673px;
  }

  .u-section-5 .u-image-1 {
    height: 641px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 218px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 160px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 160px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 199px;
  }

  .u-section-5 .u-text-8 {
    width: auto;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1464px;
  }

  .u-section-5 .u-image-1 {
    height: 483px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 231px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 177px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 176px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 200px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 169px;
  }
}